.timeLine {
  height: 60px;
  &::-webkit-scrollbar{
    display: none
  }
  span {
    @apply bg-[#babecb];
  }
  p {
    @apply text-[#babecb];
    @apply bg-white;
  }
  .stage{
    text-wrap: nowrap;
    @apply px-[25px] py-[.25rem] text-[11px] tracking-widest rounded-[3px] cursor-pointer;
  }
  .yearContainer {
    @apply px-[30px] items-center relative;
  }
  .dotContainer{
    @apply items-center relative transition-all duration-300;
  }
  .year {
    font-size: 1.375rem;
    font-weight: 600;
    position: absolute;
    top: -2rem;
    background-color: transparent;
  }
  .line{
    @apply absolute -z-[1] left-0 bottom-1/2 translate-y-1/2 w-full h-[3px] bg-[#babecb] content-[''];
  }
  .yearDot{
    @apply h-[.75rem] w-[.75rem] inline-block rounded-full cursor-pointer hover:scale-150 transition-all duration-300
  }
  .eventDot{
    @apply h-[7px] w-[7px] inline-block rounded-full cursor-pointer hover:scale-150 transition-all duration-300
  }
}
.cardContainer{
  @apply min-w-[283px] min-h-[545px] px-[1.25rem] py-[10px] mr-[30px] my-[10px]
}